<header>
  <div class="header-brand">
    <h2 class="sm-heading brand">
      <span class="text-secondary">GODFREYO</span>.LINK
    </h2>
  </div>
  <div class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>
  <nav class="menu">
    <div class="menu-branding">
      <div class="nav-brand">
        <h2 class="sm-heading">
          <span class="text-secondary">GODFREYO</span>.LINK
        </h2>
        <div class="icons">
          <a href="https://github.com/GodfreySam">
            <i class="fab fa-github fa-2x"></i>
          </a>
          <a href="https://twitter.com/freyyo">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com/in/godfrey-samuel-b9b6571bb">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <ul class="menu-nav">
      <li class="nav-item">
        <a href="/" class="nav-link" data-link>Home</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link" data-link>About</a>
      </li>
      <li class="nav-item">
        <a href="/resume" class="nav-link" data-link>Resume</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link" data-link>Contact</a>
      </li>
    </ul>
  </nav>
</header>