
{{#if success_msg}}
<div class="card-alert">
  <div class="card-content">
    {{successMsg success_msg}}
    <br><button><a href="/">Close</a></button>
  </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="card-alert">
  <div class="card-content">
    {{errorMsg error_msg}}
    <br><button><a href="/contact">Retry</a></button>
  </div>
</div>
{{/if}}

{{#if error}}
<div class="card-alert">
  <div class="card-content">
    {{checkErr error}}
  </div>
  <br><button><a href="/">Back</a></button>
</div>
{{/if}}