
{{#if success_msg}}
<div class="card-alert">
  <div class="card-content">
    {{successMsg success_msg}}
  </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="card-alert">
  <div class="card-content">
    {{errorMsg error_msg}}
  </div>
</div>
{{/if}}

{{#if error}}
<div class="card-alert">
  <div class="card-content">
    {{checkErr error}}
  </div>
  <button type="button"><a href="/">Back</a></button>
</div>
{{/if}}