<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Godfrey Samuel, Portfolio">
    <meta name="keywords" content="Portfolio, Godfrey, Godfrey Samuel, in nigeria, software developer">
    <meta name="copyright" content="Copyright © 2021 Godfrey Samuel. All Rights Reserved.">
    <meta name="author" content="Godfrey Samuel">
    <meta name="theme-color" content="#0a8ec2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GODFREYO.LINK</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body id="bg-img">
    <div id="app">
      {{> _header}}
      
      {{{body}}}
    </div>
    <script src="/static/js/menu.js"></script>
  </body>
</html>
