<main id="about">
  <div class="card">
    <div class="about-item">
      <h3 class="about-heading">Programmer</h3>
      <p>
        I started as a hobbyiest programmer after university and
        my national youth service program, one year into practising
        my sister approached me and asked me to help her out with
        manually sorting and printing vouchers for her business,
        after awhile the job got so cumbersome as the customer and
        demand increases. Hence, the need to automate the processes
        that birthed the <a href="#" class="text-secondary app-title">Epin-Sorter</a>;
        a Chrome-extension browser app for the sorting and printing of the vouchers.
      </p>
    </div>

    <div class="about-item">
      <h3 class="about-heading">Web Developer/Designer</h3>
      <p>
        I have serviced and worked with local clients.
        To validate my ability and skills, i went on further to earn certificatons for
        Responsive Web Design, and Frontend Web Development. <br>
        Check out my <a href="/work" class="text-secondary app-title">Projects</a>
      </p>
    </div>

    <div class="about-item">
      <h3 class="about-heading">Entrepreneur</h3>
      <p>
        I founded and manage the Epin-sorter web app; a subscription base app
        that empowers interested users to be affiliate marketer and
        distributor with Nigeria telecom service providers utility(epins) as recharge
        card or vouchers to the end consumers. <br>
        Check it out <a href="http://epinsorter.com" class="text-secondary app-title">epinsorter.com</a>
      </p>
    </div>
  </div>
</main>