<main id="about">
  <div class="card">
    <div class="about-item">
      <h3 class="about-heading">
        Programmer
      </h3>
      <p>
        Over the past three years, I have worked on projects and serviced clients which have helped
      me honed my skill as a software engineer and web developer.
      I have developed a good track record with technologies such as HTMl, CSS, Jquery and JavaScript
      both on the frontend and backend using Node.js, Express.js and Handlebars as template engine for
      server-side rendering, I have also worked with databases such as NEDB for in-memory data storage
      and management, MongoDb and Mongoose for larger datasets at the backend, Graphql, Axios and
      browser inbuilt fetch API.<br> I believe I have a lot to offer as an engineer who has been working
      hard at his craft; I have a quick grasp of new concepts and technology which is why I am working
      hard to build a successful career as a software engineer and be reckoned with as an expert in my field. 
       Amongst some of my <a href="/work" class="text-secondary app-title">
          projects
        </a> are 
        <a href="#" class="text-secondary app-title">
          Epin-Sorter
        </a>; a Chrome-extension browser app for the sorting and printing of vouchers hosted 
        on chrome web store for private use for Esty Telecom company which is also being ordered for by 
        interested companies in similar business.
      </p>
    </div>
    <div class="about-item">
      <h3 class="about-heading">
        Web Developer/Designer
      </h3>
      <p>
        The Epin-Sorter Chrome-extension inspired me to develop the web version of the application which is hosted at
        <a href="http://epinsorter.com" class="text-secondary app-title">epinsorter.com</a>; this was so that i could
        reach a wider audience of interested user in an automated way using subscription payment method to grant registered
        user access to the full functionality. <br>
        So for that, i became a proud Founder at three years into web development.
      </p>
    </div>
    <div class="about-item">
      <p>
        I have a lot to offer as a software engineer and web developer which is why i am always on the look out for the 
        next opportunity to showcase my ability.<br> Are you my next employer or client ? touch the menu button of this 
        page and send me an email through the contact form let us discuss.  
      </p>
    </div>
  </div>
</main>