<main id="contact">
  <!--Modal-->
  <div class="modal"></div>
  <div class="card">
    <div class="contact-container">
      <h1 class="lg-heading">Contact</h1>
      <p class="sm-heading">GET IN TOUCH</p>
      <form id="contact-form" enctype="multipart/form-data" autocomplete="off" action="mail" method="POST">
        <div class="">
          <label>Name</label>
          <input class="" type="text" required name="name">
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="" type="email" required name="email">
        </div>
        <div class="w3-section">
          <label>Message</label>
          <textarea id="email-body" rows="5" cols="50" required name="message"></textarea>
        </div>
        <button type="submit" class="">Send</button>
      </form>
    </div>
  </div>
</main>

<script>
  const form = document.querySelector("#contact-form");
  const formEvent = form.addEventListener("submit", (e) => {
    e.preventDefault();

    let mail = new FormData(form);

    sendMail(mail);
    getStatus();
  });

  const sendMail = (mail) => {
    fetch("http://godfreyo.link/mail", {
      method: "post",
      body: mail
    }).then((response) => {
      return response.json();
    });
  }
</script>