<main id="contact">
  <div class="card">
    <div class="contact-container">
      <h1 class="lg-heading">Contact</h1>
      <p class="sm-heading">GET IN TOUCH</p>
      <form id="contact-form" autocomplete="off" action="/mail" method="POST">
        <div class="">
          <label>Name</label>
          <input class="" type="text" required name="name">
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="" type="email" required name="email">
        </div>
        <div class="w3-section">
          <label>Message</label>
          <textarea id="email-body" rows="5" cols="50" required name="message"></textarea>
        </div>
        <button type="submit" class="">Send</button>
      </form>
    </div>
  </div>
</main>