<main id="profile">
  <div class="card">
    <div class="profile">
      <img src="/static/img/portrait-small.jpg" alt="Godfrey Samuel" class="bio-img sm-pic" />
      <img src="/static/img/portrait.jpg" alt="Godfrey Samuel" class="bio-img lg-pic" />
      <h1 class="lg-heading profile-name">
        Godfrey
        <span class="text-secondary">Samuel</span>
      </h1>
      <h3 class="sm-heading profile-position">
        Software Engineer, Web Developer/Designer & Entrepreneur
      </h3>
    </div>
    <div class="profile-main">
      <p class="profile-body">
        I am a Software Engineer and Web Developer helping local and international
        businesses come to terms with the present day realities, leveraging
        technology for greater and wider reach, offering solutions and bridging
        the gap between service providers and the timing consumers.
      </p>
      <button class="btn anchor"><a href="/about" data-link>Learn more</a></button>
    </div>
  </div>
</main>