<main id="resume">
  <div class="card">
    <div class="resume-container">
      <h2>Resume</h2>
      <p>A draft from my CV</p>
      <div class="table-container">
        <table class="table">
          <tr>
            <th>Year</th>
            <th>Title</th>
            <th>Where</th>
          </tr>
          <tr>
            <td>2020-2021</td>
            <td>Founder and Entrepreneur </td>
            <td><a href="www.epinsorter.com">EPINSORTER.COM</a></td>
          </tr>
          <tr>
            <td>2018-2020</td>
            <td>Freelance Software Engineer</td>
            <td>Esty Telecom, Abuja, Nigeria</td>
          </tr>
          <tr>
            <td>2017-2018</td>
            <td>Volunteer NYSC Coordinator of Community Development</td>
            <td>Independent National Electoral Commission (INEC) Taraba State, Nigeria</td>
          </tr>
          <tr>
            <td>2012-2016</td>
            <td>Degree in Bachelor of Science Engineering Physics</td>
            <td>Obafemi Awolowo University, Ile-Ife, Nigeria</td>
          </tr>
        </table>
      </div>
    </div>
    <button class="btn anchor">
      <a href="/resume-full-view">
        View full version
      </a>
    </button>
  </div>
</main>